In [2]:
import numpy as np # for array, linear algebra
import pandas as pd # for data processing
import matplotlib.pyplot as plt # to crreate stat and visualize data
import matplotlib as mpl  # to visualize data
import seaborn as sns # to visualize data
import matplotlib.colors as mcolors # to visualize colors
import string # collection of alphabets, words or other characters
import re # regular expression support
# import gensim # representing documents as semantic vectors

In [11]:
df = pd.read_csv('sentiment-emotion-labelled_Dell_tweets.csv')

In [5]:
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment,sentiment_score,emotion,emotion_score
0,0,2022-09-30 23:29:15+00:00,1575991191170342912,@Logitech @apple @Google @Microsoft @Dell @Len...,ManjuSreedaran,neutral,0.853283,anticipation,0.587121
1,1,2022-09-30 21:46:35+00:00,1575965354425131008,@MK_habit_addict @official_stier @MortalKombat...,MiKeMcDnet,neutral,0.519470,joy,0.886913
2,2,2022-09-30 21:18:02+00:00,1575958171423752203,"As @CRN celebrates its 40th anniversary, Bob F...",jfollett,positive,0.763791,joy,0.960347
3,3,2022-09-30 20:05:24+00:00,1575939891485032450,@dell your customer service is horrible especi...,daveccarr,negative,0.954023,anger,0.983203
4,4,2022-09-30 20:03:17+00:00,1575939359160750080,@zacokalo @Dell @DellCares @Dell give the man ...,heycamella,neutral,0.529170,anger,0.776124

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24970 entries, 0 to 24969
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       24970 non-null  int64
 1   Datetime         24970 non-null  object
 2   Tweet Id         24970 non-null  int64
 3   Text             24970 non-null  object
 4   Username         24970 non-null  object
 5   sentiment        24970 non-null  object
 6   sentiment_score  24970 non-null  float64
 7   emotion          24970 non-null  object
 8   emotion_score    24970 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 1.7+ MB

In [12]:
df = df.drop(['Unnamed: 0', 'Datetime','Tweet Id', 'Username', 'sentiment_score', 'emotion', 'emotion_score'], axis =1)

In [13]:
df

                                                    Text sentiment
0      @Logitech @apple @Google @Microsoft @Dell @Len...   neutral
1      @MK_habit_addict @official_stier @MortalKombat...   neutral
2      As @CRN celebrates its 40th anniversary, Bob F...  positive
3      @dell your customer service is horrible especi...  negative
4      @zacokalo @Dell @DellCares @Dell give the man ...   neutral
...                                                  ...       ...
24965  @ElDarkAngel2 @GamersNexus @Dell I wouldn't ev...  negative
24966  @kite_real @GamersNexus @Dell I didn't really ...  positive
24967  Hey @JoshTheFixer here it is....27 4K UHD USB-...   neutral
24968  @bravadogaming @thewolfpena @Alienware @intel ...   neutral
24969  @rabia_ejaz @Dell Stopped buying windows lapto...  positive

[24970 rows x 2 columns]

In [15]:
print(df.columns)

Index(['Text', 'sentiment'], dtype='object')

In [16]:
df['Text'] = df['Text'].apply(lambda x: re.sub('[^a-zA-Z0-9 /_\n\.]', ' ', x))

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
/var/folders/zr/gt66s41d72j4f9_7bm7_1q040000gn/T/ipykernel_93801/2220856517.py:1: SyntaxWarning: invalid escape sequence '\.'
  df['Text'] = df['Text'].apply(lambda x: re.sub('[^a-zA-Z0-9 /_\n\.]', ' ', x))

In [17]:
df.head()

                                                Text sentiment
0   Logitech  apple  Google  Microsoft  Dell  Len...   neutral
1   MK_habit_addict  official_stier  MortalKombat...   neutral
2  As  CRN celebrates its 40th anniversary  Bob F...  positive
3   dell your customer service is horrible especi...  negative
4   zacokalo  Dell  DellCares  Dell give the man ...   neutral