## Dell Datensatz von ML gelabelled

In [36]:
import numpy as np # for array, linear algebra
import pandas as pd # for data processing
import matplotlib.pyplot as plt # to crreate stat and visualize data
import matplotlib as mpl  # to visualize data
import seaborn as sns # to visualize data
import matplotlib.colors as mcolors # to visualize colors
import string # collection of alphabets, words or other characters
import re # regular expression support
from nltk.corpus import stopwords
# import gensim # representing documents as semantic vectors

In [21]:
df = pd.read_csv('sentiment-emotion-labelled_Dell_tweets.csv')

In [22]:
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username,sentiment,sentiment_score,emotion,emotion_score
0,0,2022-09-30 23:29:15+00:00,1575991191170342912,@Logitech @apple @Google @Microsoft @Dell @Len...,ManjuSreedaran,neutral,0.853283,anticipation,0.587121
1,1,2022-09-30 21:46:35+00:00,1575965354425131008,@MK_habit_addict @official_stier @MortalKombat...,MiKeMcDnet,neutral,0.519470,joy,0.886913
2,2,2022-09-30 21:18:02+00:00,1575958171423752203,"As @CRN celebrates its 40th anniversary, Bob F...",jfollett,positive,0.763791,joy,0.960347
3,3,2022-09-30 20:05:24+00:00,1575939891485032450,@dell your customer service is horrible especi...,daveccarr,negative,0.954023,anger,0.983203
4,4,2022-09-30 20:03:17+00:00,1575939359160750080,@zacokalo @Dell @DellCares @Dell give the man ...,heycamella,neutral,0.529170,anger,0.776124

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24970 entries, 0 to 24969
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       24970 non-null  int64
 1   Datetime         24970 non-null  object
 2   Tweet Id         24970 non-null  int64
 3   Text             24970 non-null  object
 4   Username         24970 non-null  object
 5   sentiment        24970 non-null  object
 6   sentiment_score  24970 non-null  float64
 7   emotion          24970 non-null  object
 8   emotion_score    24970 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 1.7+ MB

In [24]:
df = df.drop(['Unnamed: 0', 'Datetime','Tweet Id', 'Username', 'sentiment_score', 'emotion', 'emotion_score'], axis =1)

In [13]:
df

                                                    Text sentiment
0      @Logitech @apple @Google @Microsoft @Dell @Len...   neutral
1      @MK_habit_addict @official_stier @MortalKombat...   neutral
2      As @CRN celebrates its 40th anniversary, Bob F...  positive
3      @dell your customer service is horrible especi...  negative
4      @zacokalo @Dell @DellCares @Dell give the man ...   neutral
...                                                  ...       ...
24965  @ElDarkAngel2 @GamersNexus @Dell I wouldn't ev...  negative
24966  @kite_real @GamersNexus @Dell I didn't really ...  positive
24967  Hey @JoshTheFixer here it is....27 4K UHD USB-...   neutral
24968  @bravadogaming @thewolfpena @Alienware @intel ...   neutral
24969  @rabia_ejaz @Dell Stopped buying windows lapto...  positive

[24970 rows x 2 columns]

In [15]:
print(df.columns)

Index(['Text', 'sentiment'], dtype='object')

In [25]:
dftest = df.copy(deep = True)

In [37]:
stop_words = stopwords.words('english')

In [39]:
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [40]:
dftest['Text'] = dftest['Text'].apply(lambda x: re.sub('[@#]\w+', ' ', x))
dftest['Text'] = dftest['Text'].apply(lambda x: re.sub('https:\S+', ' ', x))
for word in stop_words:
    dftest['Text'] = dftest['Text'].str.replace(fr'(^|\b){word}\b', ' ', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\S'
/var/folders/zr/gt66s41d72j4f9_7bm7_1q040000gn/T/ipykernel_93801/4169002648.py:1: SyntaxWarning: invalid escape sequence '\w'
  dftest['Text'] = dftest['Text'].apply(lambda x: re.sub('[@#]\w+', ' ', x))
/var/folders/zr/gt66s41d72j4f9_7bm7_1q040000gn/T/ipykernel_93801/4169002648.py:2: SyntaxWarning: invalid escape sequence '\S'
  dftest['Text'] = dftest['Text'].apply(lambda x: re.sub('https:\S+', ' ', x))

In [30]:
pd.set_option('display.max_colwidth', None)

In [41]:
dftest.head()

,Text,sentiment
0,"QWERTY modified programmers things like brackets, parens, quotes, operators, etc. moved middle near G-H splitting left/right brackets separate hands, relieving less dextrous pinky finger?",neutral
1,She' getting new one one 2-3 years old. (More triple price - though much higher utility).,neutral
2,"As celebrates 40th anniversary, Bob Faletra spoke milestones, companies personalities helped build channel.",positive
3,customer service horrible especially agent syedfaisal made experience purchasing new computer downright awful I’ reconsider ever buying Dell future,negative
4,give man paid !,neutral

In [32]:
df.head()

,Text,sentiment
0,"@Logitech @apple @Google @Microsoft @Dell @Lenovo #WhatIf QWERTY were modified for programmers so things like brackets, parens, quotes, operators, etc. moved to the middle near G-H splitting left/right brackets to separate hands, and relieving the less dextrous pinky finger?",neutral
1,@MK_habit_addict @official_stier @MortalKombat @newzealand She's getting a new @Dell #laptop when the one she has one only 2-3 years old. (More than triple the price - though much higher utility). https://t.co/7WvkCw7vQf,neutral
2,"As @CRN celebrates its 40th anniversary, Bob Faletra and @stevenjburke spoke with me about the milestones, companies and personalities that helped build the channel. https://t.co/stiuBObP1O #CRN40 #podcast #internationalpodcastday @Cisco @Microsoft @HPE @hp @Dell @intel",positive
3,@dell your customer service is horrible especially agent syedfaisal who has made this experience of purchasing a new computer downright awful and I’ll reconsider ever buying a Dell in the future @DellTech,negative
4,@zacokalo @Dell @DellCares @Dell give the man what he paid for!,neutral

## händisch gelabelt

import numpy as np # for array, linear algebra
import pandas as pd # for data processing
import matplotlib.pyplot as plt # to crreate stat and visualize data
import matplotlib as mpl  # to visualize data
import seaborn as sns # to visualize data
import matplotlib.colors as mcolors # to visualize colors
import string # collection of alphabets, words or other characters
import re # regular expression support
from nltk.corpus import stopwords
# import gensim # representing documents as semantic vectors

In [42]:
df = pd.read_csv('full-corpus.csv')

In [43]:
stop_words = stopwords.words('english')

In [47]:
df = df.drop(['TweetDate', 'TweetId','Topic'], axis =1)

In [48]:
df['TweetText'] = df['TweetText'].apply(lambda x: re.sub('[@#]\w+', ' ', x))
df['TweetText'] = df['TweetText'].apply(lambda x: re.sub('https:\S+', ' ', x))
for word in stop_words:
    df['TweetText'] = df['TweetText'].str.replace(fr'(^|\b){word}\b', ' ', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\S'
/var/folders/zr/gt66s41d72j4f9_7bm7_1q040000gn/T/ipykernel_93801/2646479749.py:1: SyntaxWarning: invalid escape sequence '\w'
  df['TweetText'] = df['TweetText'].apply(lambda x: re.sub('[@#]\w+', ' ', x))
/var/folders/zr/gt66s41d72j4f9_7bm7_1q040000gn/T/ipykernel_93801/2646479749.py:2: SyntaxWarning: invalid escape sequence '\S'
  df['TweetText'] = df['TweetText'].apply(lambda x: re.sub('https:\S+', ' ', x))

In [49]:
df

,Sentiment,TweetText
0,positive,Now get swype iphone crack. Iphone
1,positive,adding carrier support iPhone 4S ( announced)
2,positive,Hilarious video - guy duet ' Siri. Pretty much sums love affair! http:// .co/8ExbnQjY
3,positive,made easy switch iPhone. See ya!
4,positive,I realized reason I got twitter ios5 thanks
...,...,...
5108,irrelevant,copè con
5109,irrelevant,Buenas noches genteeee :) los quierooo ...
5110,irrelevant,tiene la mala costumbre de ponerce bno cuano yo voy :/
5111,irrelevant,"Oi . Muito bem vinda ao meu . Sempre dou followback pelo meu perfil profissional. Permaneça por aqui, certo? Abrass!"
5112,irrelevant,"Eles arrastaram os barcos para praia, deixaram tudo e Jesus.(Lucas 5-11)e este foii primeiro da historia humana"