## Dell Datensatz von ML gelabelled

In [2]:
import pandas as pd # for data processing
import string # collection of alphabets, words or other characters
import re # regular expression support
import nltk
from nltk.corpus import stopwords
from string import punctuation 
from sklearn.model_selection import train_test_split

In [25]:
pd.set_option('display.max_colwidth', None)

In [26]:
df = pd.read_csv('full-corpus.csv', header=None)

In [17]:
df

,0,1,2,3,4
0,Topic,Sentiment,TweetId,TweetDate,TweetText
1,apple,positive,126415614616154112,Tue Oct 18 21:53:25 +0000 2011,Now all @Apple has to do is get swype on the iphone and it will be crack. Iphone that is
2,apple,positive,126404574230740992,Tue Oct 18 21:09:33 +0000 2011,@Apple will be adding more carrier support to the iPhone 4S (just announced)
3,apple,positive,126402758403305474,Tue Oct 18 21:02:20 +0000 2011,Hilarious @youtube video - guy does a duet with @apple 's Siri. Pretty much sums up the love affair! http://t.co/8ExbnQjY
4,apple,positive,126397179614068736,Tue Oct 18 20:40:10 +0000 2011,@RIM you made it too easy for me to switch to @Apple iPhone. See ya!
...,...,...,...,...,...
5109,twitter,irrelevant,126855687060987904,Thu Oct 20 03:02:07 +0000 2011,me re copè con #twitter
5110,twitter,irrelevant,126855171702661120,Thu Oct 20 03:00:04 +0000 2011,Buenas noches genteeee :) #twitter los quierooo ...
5111,twitter,irrelevant,126854999442587648,Thu Oct 20 02:59:23 +0000 2011,#twitter tiene la mala costumbre de ponerce bno cuano yo me voy :/
5112,twitter,irrelevant,126854818101858304,Thu Oct 20 02:58:40 +0000 2011,"Oi @flaviasansi. Muito bem vinda ao meu #Twitter. Sempre dou followback pelo meu perfil profissional. Permaneça por aqui, certo? Abrass!"
5113,twitter,irrelevant,126854423317188608,Thu Oct 20 02:57:06 +0000 2011,"Eles arrastaram os barcos para a praia, deixaram tudo e #seguiram Jesus.(Lucas 5-11)e este foii o primeiro #twitter da historia humana #RT"

In [27]:
df = df.drop([0, 2, 3], axis =1)

In [28]:
df

,1,4
0,Sentiment,TweetText
1,positive,Now all @Apple has to do is get swype on the iphone and it will be crack. Iphone that is
2,positive,@Apple will be adding more carrier support to the iPhone 4S (just announced)
3,positive,Hilarious @youtube video - guy does a duet with @apple 's Siri. Pretty much sums up the love affair! http://t.co/8ExbnQjY
4,positive,@RIM you made it too easy for me to switch to @Apple iPhone. See ya!
...,...,...
5109,irrelevant,me re copè con #twitter
5110,irrelevant,Buenas noches genteeee :) #twitter los quierooo ...
5111,irrelevant,#twitter tiene la mala costumbre de ponerce bno cuano yo me voy :/
5112,irrelevant,"Oi @flaviasansi. Muito bem vinda ao meu #Twitter. Sempre dou followback pelo meu perfil profissional. Permaneça por aqui, certo? Abrass!"
5113,irrelevant,"Eles arrastaram os barcos para a praia, deixaram tudo e #seguiram Jesus.(Lucas 5-11)e este foii o primeiro #twitter da historia humana #RT"

In [29]:
new_header = ['target', 'Text']
df.columns = new_header

In [30]:
df_filtered = df.loc[df['target'].isin(['positive', 'negative'])]

In [31]:
df_filtered

,target,Text
1,positive,Now all @Apple has to do is get swype on the iphone and it will be crack. Iphone that is
2,positive,@Apple will be adding more carrier support to the iPhone 4S (just announced)
3,positive,Hilarious @youtube video - guy does a duet with @apple 's Siri. Pretty much sums up the love affair! http://t.co/8ExbnQjY
4,positive,@RIM you made it too easy for me to switch to @Apple iPhone. See ya!
5,positive,I just realized that the reason I got into twitter was ios5 thanks @apple
...,...,...
3948,negative,#stupid fucking #Twitter #Twitterapp give me my Damn #mentions NOOWWWWWW!!!!! UGH! #DRAWLIN AS ALWAYS #TMW #PROMOALLDAY #FOLLOWLIMITISGAY TO
3949,negative,RT @JolieeSharmeda #twitter be fucking up
3950,negative,"@KushKitty420 you, #Facebook #twitter and the #tv are all #distractions whenever I wanna study ;("
3951,negative,"RT @VanillaLatte_xD: #omfg .. #Twitter , Why fxck up ? I wanna see my Retweets ""/"
3952,negative,"RT @nicolebanyots: #twitter UH, SHOW ME MY RETWEETS, OR ILL GO BACK TO FACEBOOK. K? K."

In [47]:
value_counts = df_filtered['target'].value_counts()
print(value_counts)

target
negative    572
positive    519
Name: count, dtype: int64

In [48]:
# Kleinere Klasse bestimmen
minority_class = value_counts.idxmin()
majority_class = value_counts.idxmax()

In [49]:
minority_count = value_counts.min()
print(minority_count)

519

In [50]:
# DataFrames für jede Klasse
df_majority = df[df['target'] == majority_class]
df_minority = df[df['target'] == minority_class]

In [54]:
df_majority

,target,Text
165,negative,RT @cjwallace03: So apparently @apple put MB cap on your SMS with the new update. 25mb storage before it tells you your inbox is full. W ...
166,negative,"RT @Jewelz2611 @mashable @apple, iphones r 2 expensive. Most went w/ htc/galaxy. No customer loyalty w/phone comp.."
167,negative,"@mashable @apple, iphones r 2 expensive. Most went w/ htc/galaxy. No customer loyalty w/phone comp.."
168,negative,THiS IS WHAT WiLL KiLL APPLE http://t.co/72Jw4z5c RiP @APPLE
169,negative,@apple why my tunes no go on my iPhone? iPhone lonely without them. silly #iOS5
...,...,...
3948,negative,#stupid fucking #Twitter #Twitterapp give me my Damn #mentions NOOWWWWWW!!!!! UGH! #DRAWLIN AS ALWAYS #TMW #PROMOALLDAY #FOLLOWLIMITISGAY TO
3949,negative,RT @JolieeSharmeda #twitter be fucking up
3950,negative,"@KushKitty420 you, #Facebook #twitter and the #tv are all #distractions whenever I wanna study ;("
3951,negative,"RT @VanillaLatte_xD: #omfg .. #Twitter , Why fxck up ? I wanna see my Retweets ""/"
3952,negative,"RT @nicolebanyots: #twitter UH, SHOW ME MY RETWEETS, OR ILL GO BACK TO FACEBOOK. K? K."

In [55]:
df_minority

,target,Text
1,positive,Now all @Apple has to do is get swype on the iphone and it will be crack. Iphone that is
2,positive,@Apple will be adding more carrier support to the iPhone 4S (just announced)
3,positive,Hilarious @youtube video - guy does a duet with @apple 's Siri. Pretty much sums up the love affair! http://t.co/8ExbnQjY
4,positive,@RIM you made it too easy for me to switch to @Apple iPhone. See ya!
5,positive,I just realized that the reason I got into twitter was ios5 thanks @apple
...,...,...
3881,positive,"#facebook, #Twitter , #spongebob, #nirvana. Great way to spend the night. :D"
3882,positive,RT @ahhfuckitsguss: #twitter can be so useful on letting out your feeling when you cant in the real world .
3883,positive,"My 3 biggest obsessions: #twitter, #dancemoms, and #desperatehousewives. &lt;3"
3884,positive,#twitter is jumpin as usual :)
3885,positive,My Facebook messed up and I had to make a new one so... add me! Haha at least #twitter is reliable

In [51]:
# Downsampling der Mehrheitklasse
df_majority_downsampled = df_majority.sample(n=minority_count, random_state=42)

In [52]:
# Zusammenführen der ausgeglichenen DataFrames
df_balanced = pd.concat([df_minority, df_majority_downsampled])

In [53]:
print("\nValue Counts after balancing:")
print(df_balanced['target'].value_counts())

Value Counts after balancing:
target
positive    519
negative    519
Name: count, dtype: int64

In [57]:
df_balanced.to_csv('full_corpus_preprocessed.csv', index=False)

## Anzahl der Labels anzeigen 0 - negative, 4 - positive

In [9]:
df['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

### Export Preprocessed Data without stopword-cleaning

In [22]:
train_data.to_csv('traindata_with_stopwords_preprocessed.csv', index=False)

## Stopword-cleaning

In [23]:
def clean_text(text):
    stop_words = stopwords.words('english')
    text = re.sub(r'[@#]\w+', ' ', text)  # Entfernen von Hashtags und Verlinkungen 
    text = re.sub(r'https?://\S+', ' ', text)  # Entfernen von Links
    text = re.sub(r"\b\w+['’]\w+\b", ' ', text)  # Entfernen von Kontraktionen wie 's, 'm etc. 
    text = re.sub(rf"[{punctuation}]", ' ', text)  # Entfernen von Satzzeichen
    words = text.split()  
    words = [word for word in words if word.lower() not in stop_words]  
    return ' '.join(words)

In [24]:
test_data_without_stopwords = test_data
train_data_without_stopwords = train_data

In [25]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/I569423/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
test_data_without_stopwords['Text'] = test_data_without_stopwords['Text'].apply(clean_text)

In [27]:
test_data_without_stopwords

,Text,target,Ground_Truth_Label
200373,would like even little bit time work Laying 11 30 work 12 30 8 30,0,negative
1279087,Looking forward keeping touch Naomi long time since chatted,4,positive
44625,Germany NBA airtime got International LP watch game sure,0,negative
1353688,future trouble favourite Bagley probably Running Blind Iceland Terrific,4,positive
1335350,know reason Opera popular mobile platform Firefox rocks ass,4,positive
...,...,...,...
1144572,,4,positive
796530,idea wear tomorrow,0,negative
171197,darn think journey like really,0,negative
1322000,oh Calvin Harris called DAFT BASTARD feel cool new claim fame,4,positive
878892,Go family meal 1 hour cheer grandpa,4,positive

In [28]:

train_data_without_stopwords['Text'] = train_data_without_stopwords['Text'].apply(clean_text)

In [29]:
train_data_without_stopwords

,Text,target,Ground_Truth_Label
999032,Rise shining lol mins later planned rush door time,4,positive
1045663,2nd interview today looking promising,4,positive
302336,feel pain,0,negative
1427382,4yr old son went exploring amp hiking today found Luv amphibians,4,positive
64747,lonely housemates gone pub,0,negative
...,...,...,...
1127399,held together bubblegum amp blessings,4,positive
884337,Heehee one,4,positive
989044,welcome change mind though let know,4,positive
1581849,BET Bring Backup,4,positive
1308216,Windows Linux box Installing BSD Apple iPod Yeah,4,positive

### Export Data with stopword-cleaning

In [30]:
test_data.to_csv('testdata_without_stopwords_preprocessed.csv', index=False)

In [31]:
train_data.to_csv('traindata_without_stopwords_preprocessed.csv', index=False)