In [9]:
import numpy as np # for array, linear algebra
import pandas as pd # for data processing
import matplotlib.pyplot as plt # to crreate stat and visualize data
import matplotlib as mpl  # to visualize data
import seaborn as sns # to visualize data
import matplotlib.colors as mcolors # to visualize colors
import string # collection of alphabets, words or other characters
import re # regular expression support
import nltk 
from nltk.corpus import stopwords
from string import punctuation 
# import gensim # representing documents as semantic vectors

from nltk.tokenize import word_tokenize
from nltk.classify import NaiveBayesClassifier
from nltk.classify.util import accuracy

In [10]:
pd.set_option('display.max_colwidth', None)

In [11]:
df_naive_bayes_with_stopwords = pd.read_csv('../../Data-Pretraindata_without_stopwords.csv')

### Create a new column 'Ground_Truth_Label' based on the 'target' values

In [14]:
def map_target_to_label(target):
    if target == 4:
        return 'positive'
    elif target == 0:
        return 'negative'
    else:
        return None

In [15]:
df_naive_bayes_with_stopwords['Ground_Truth_Label'] = df_naive_bayes_with_stopwords['target'].apply(map_target_to_label)

In [16]:
df_naive_bayes_with_stopwords

,target,Text,Ground_Truth_Label
0,0,Awww bummer shoulda got David Carr Third Day,negative
1,0,upset update Facebook texting might cry result School today also Blah,negative
2,0,dived many times ball Managed save 50 rest go bounds,negative
3,0,whole body feels itchy like fire,negative
4,0,behaving mad see,negative
...,...,...,...
1599995,4,woke school best feeling ever,positive
1599996,4,TheWDB com cool hear old Walt interviews ♫,positive
1599997,4,ready MoJo Makeover Ask details,positive
1599998,4,Happy 38th Birthday boo alll time Tupac Amaru Shakur,positive
1599999,4,happy,positive

In [17]:
df_naive_bayes_with_stopwords['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [18]:
df_naive_bayes_with_stopwords

,target,Text,Ground_Truth_Label
0,0,Awww bummer shoulda got David Carr Third Day,negative
1,0,upset update Facebook texting might cry result School today also Blah,negative
2,0,dived many times ball Managed save 50 rest go bounds,negative
3,0,whole body feels itchy like fire,negative
4,0,behaving mad see,negative
...,...,...,...
1599995,4,woke school best feeling ever,positive
1599996,4,TheWDB com cool hear old Walt interviews ♫,positive
1599997,4,ready MoJo Makeover Ask details,positive
1599998,4,Happy 38th Birthday boo alll time Tupac Amaru Shakur,positive
1599999,4,happy,positive

In [19]:
def extract_features(text):
    words = word_tokenize(text)
    features = {word.lower(): True for word in words if word.isalpha()}
    return features

In [20]:
df_naive_bayes_with_stopwords['features'] = df_naive_bayes_with_stopwords['Text'].apply(extract_features)

In [21]:
data = list(zip(df_naive_bayes_with_stopwords['features'], df_naive_bayes_with_stopwords['Ground_Truth_Label']))

In [22]:
classifier = NaiveBayesClassifier.train(data)

In [23]:
df_naive_bayes_with_stopwords

,target,Text,Ground_Truth_Label,features
0,0,Awww bummer shoulda got David Carr Third Day,negative,"{'awww': True, 'bummer': True, 'shoulda': True, 'got': True, 'david': True, 'carr': True, 'third': True, 'day': True}"
1,0,upset update Facebook texting might cry result School today also Blah,negative,"{'upset': True, 'update': True, 'facebook': True, 'texting': True, 'might': True, 'cry': True, 'result': True, 'school': True, 'today': True, 'also': True, 'blah': True}"
2,0,dived many times ball Managed save 50 rest go bounds,negative,"{'dived': True, 'many': True, 'times': True, 'ball': True, 'managed': True, 'save': True, 'rest': True, 'go': True, 'bounds': True}"
3,0,whole body feels itchy like fire,negative,"{'whole': True, 'body': True, 'feels': True, 'itchy': True, 'like': True, 'fire': True}"
4,0,behaving mad see,negative,"{'behaving': True, 'mad': True, 'see': True}"
...,...,...,...,...
1599995,4,woke school best feeling ever,positive,"{'woke': True, 'school': True, 'best': True, 'feeling': True, 'ever': True}"
1599996,4,TheWDB com cool hear old Walt interviews ♫,positive,"{'thewdb': True, 'com': True, 'cool': True, 'hear': True, 'old': True, 'walt': True, 'interviews': True}"
1599997,4,ready MoJo Makeover Ask details,positive,"{'ready': True, 'mojo': True, 'makeover': True, 'ask': True, 'details': True}"
1599998,4,Happy 38th Birthday boo alll time Tupac Amaru Shakur,positive,"{'happy': True, 'birthday': True, 'boo': True, 'alll': True, 'time': True, 'tupac': True, 'amaru': True, 'shakur': True}"
1599999,4,happy,positive,{'happy': True}

In [24]:
print(f'Accuracy: {accuracy(classifier, data):.2f}')

Accuracy: 0.79

In [25]:
classifier.show_most_informative_features(10)

Most Informative Features
            tweeteradder = True           positi : negati =    553.7 : 1.0
             shareholder = True           positi : negati =     53.0 : 1.0
                    sadd = True           negati : positi =     43.4 : 1.0
                  triste = True           negati : positi =     42.3 : 1.0
                  farrah = True           negati : positi =     41.1 : 1.0
                 saddens = True           negati : positi =     41.0 : 1.0
                fuzzball = True           positi : negati =     39.8 : 1.0
                 whyyyyy = True           negati : positi =     37.7 : 1.0
                 eddings = True           negati : positi =     36.3 : 1.0
                 sadface = True           negati : positi =     36.1 : 1.0