In [5]:
import numpy as np # for array, linear algebra
import pandas as pd # for data processing
import matplotlib.pyplot as plt # to crreate stat and visualize data
import matplotlib as mpl  # to visualize data
import seaborn as sns # to visualize data
import matplotlib.colors as mcolors # to visualize colors
import string # collection of alphabets, words or other characters
import re # regular expression support
import nltk 
from nltk.corpus import stopwords
from string import punctuation 
# import gensim # representing documents as semantic vectors

from nltk.tokenize import word_tokenize
from nltk.classify import NaiveBayesClassifier
from nltk.classify.util import accuracy

In [6]:
pd.set_option('display.max_colwidth', None)

In [7]:
df_naive_bayes_with_stopwords = pd.read_csv('../../Data-Preperation/preprocessed_dataset.csv')

In [ ]:
stop_words = stopwords.words('english')

In [8]:
def clean_text(text):
    text = re.sub(r'[@#]\w+', ' ', text)  # Entfernen von Hashtags und 
    text = re.sub(r'https?://\S+', ' ', text)  # Entfernen von Links
    text = re.sub(r"\b\w+['’]\w+\b", ' ', text)  # Entfernen von Kontraktionen wie 's, 'm etc. 
    text = re.sub(rf"[{punctuation}]", ' ', text)  # Entfernen von Satzzeichen
    words = text.split()  
    words = [word for word in words if word.lower() not in stop_words]  
    return ' '.join(words)
df_naive_bayes_with_stopwords['Text'] = df_naive_bayes_with_stopwords['Text'].apply(clean_text)

NameError: name 'stop_words' is not defined

### Create a new column 'Ground_Truth_Label' based on the 'target' values

In [ ]:
def map_target_to_label(target):
    if target == 4:
        return 'positive'
    elif target == 0:
        return 'negative'
    else:
        return None

In [ ]:
df_naive_bayes_with_stopwords['Ground_Truth_Label'] = df_naive_bayes_with_stopwords['target'].apply(map_target_to_label)

In [ ]:
df_naive_bayes_with_stopwords

,target,Text,Ground_Truth_Label
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",negative
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!,negative
2,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds,negative
3,0,my whole body feels itchy and like its on fire,negative
4,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.",negative
...,...,...,...
1599995,4,Just woke up. Having no school is the best feeling ever,positive
1599996,4,TheWDB.com - Very cool to hear old Walt interviews! ♫ http://blip.fm/~8bmta,positive
1599997,4,Are you ready for your MoJo Makeover? Ask me for details,positive
1599998,4,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur,positive
1599999,4,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H,positive

In [ ]:
df_naive_bayes_with_stopwords['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [ ]:
df_naive_bayes_with_stopwords

,target,Text,Ground_Truth_Label
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",negative
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!,negative
2,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds,negative
3,0,my whole body feels itchy and like its on fire,negative
4,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.",negative
...,...,...,...
1599995,4,Just woke up. Having no school is the best feeling ever,positive
1599996,4,TheWDB.com - Very cool to hear old Walt interviews! ♫ http://blip.fm/~8bmta,positive
1599997,4,Are you ready for your MoJo Makeover? Ask me for details,positive
1599998,4,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur,positive
1599999,4,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H,positive

In [ ]:
def extract_features(text):
    words = word_tokenize(text)
    features = {word.lower(): True for word in words if word.isalpha()}
    return features

In [ ]:
df_naive_bayes_with_stopwords['features'] = df_naive_bayes_with_stopwords['Text'].apply(extract_features)

In [ ]:
data = list(zip(df_naive_bayes_with_stopwords['features'], df_naive_bayes_with_stopwords['Ground_Truth_Label']))

In [ ]:
classifier = NaiveBayesClassifier.train(data)

In [ ]:
df_naive_bayes_with_stopwords

,target,Text,Ground_Truth_Label,features
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",negative,"{'switchfoot': True, 'http': True, 'awww': True, 'that': True, 'a': True, 'bummer': True, 'you': True, 'shoulda': True, 'got': True, 'david': True, 'carr': True, 'of': True, 'third': True, 'day': True, 'to': True, 'do': True, 'it': True, 'd': True}"
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!,negative,"{'is': True, 'upset': True, 'that': True, 'he': True, 'ca': True, 'update': True, 'his': True, 'facebook': True, 'by': True, 'texting': True, 'it': True, 'and': True, 'might': True, 'cry': True, 'as': True, 'a': True, 'result': True, 'school': True, 'today': True, 'also': True, 'blah': True}"
2,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds,negative,"{'kenichan': True, 'i': True, 'dived': True, 'many': True, 'times': True, 'for': True, 'the': True, 'ball': True, 'managed': True, 'to': True, 'save': True, 'rest': True, 'go': True, 'out': True, 'of': True, 'bounds': True}"
3,0,my whole body feels itchy and like its on fire,negative,"{'my': True, 'whole': True, 'body': True, 'feels': True, 'itchy': True, 'and': True, 'like': True, 'its': True, 'on': True, 'fire': True}"
4,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.",negative,"{'nationwideclass': True, 'no': True, 'it': True, 'not': True, 'behaving': True, 'at': True, 'all': True, 'i': True, 'mad': True, 'why': True, 'am': True, 'here': True, 'because': True, 'ca': True, 'see': True, 'you': True, 'over': True, 'there': True}"
...,...,...,...,...
1599995,4,Just woke up. Having no school is the best feeling ever,positive,"{'just': True, 'woke': True, 'up': True, 'having': True, 'no': True, 'school': True, 'is': True, 'the': True, 'best': True, 'feeling': True, 'ever': True}"
1599996,4,TheWDB.com - Very cool to hear old Walt interviews! ♫ http://blip.fm/~8bmta,positive,"{'very': True, 'cool': True, 'to': True, 'hear': True, 'old': True, 'walt': True, 'interviews': True, 'http': True}"
1599997,4,Are you ready for your MoJo Makeover? Ask me for details,positive,"{'are': True, 'you': True, 'ready': True, 'for': True, 'your': True, 'mojo': True, 'makeover': True, 'ask': True, 'me': True, 'details': True}"
1599998,4,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur,positive,"{'happy': True, 'birthday': True, 'to': True, 'my': True, 'boo': True, 'of': True, 'alll': True, 'time': True, 'tupac': True, 'amaru': True, 'shakur': True}"
1599999,4,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H,positive,"{'happy': True, 'charitytuesday': True, 'thenspcc': True, 'sparkscharity': True}"

In [ ]:
print(f'Accuracy: {accuracy(classifier, data):.2f}')

Accuracy: 0.82

In [ ]:
classifier.show_most_informative_features(10)

Most Informative Features
             shareholder = True           positi : negati =     53.7 : 1.0
                  farrah = True           negati : positi =     50.3 : 1.0
                    sadd = True           negati : positi =     43.0 : 1.0
                  triste = True           negati : positi =     41.7 : 1.0
                 saddens = True           negati : positi =     40.6 : 1.0
                fuzzball = True           positi : negati =     39.8 : 1.0
                 whyyyyy = True           negati : positi =     37.7 : 1.0
                 mcmahon = True           negati : positi =     36.1 : 1.0
                 eddings = True           negati : positi =     35.7 : 1.0
                 sadface = True           negati : positi =     35.3 : 1.0